<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Open Trades</title>
</head>
<body>
  <div class="banner">
    <div class="banner-box" id="available_stock">
      <span><strong>Available Stock</strong></span>
    </div>
    <div class="banner-box">
      <span>Wheat</span>
      <span>500 Tonnes</span>
    </div>
    <div class="banner-box">
      <span>Corn</span>
      <span>800 Tonnes</span>
    </div>
    <div class="banner-box">
      <span>Sunflower</span>
      <span>450 Tonnes</span> 
    </div>
      <div class="banner-box">
        <span>Rapeseed</span>
        <span>0 Tonnes</span>
      </div>
  </div>
  <div class="wrapper" style="margin-left: 15px;">
    <h1 style="color: #225452;">Open Trades</h1>
    <h4>Open trades is a list of all your pending transactions.</h4>
    <div class="tcontainer">
      <table>
        <thead>
          <tr>
            <th>Order Date & Time</th>
            <th>Symbol</th>
            <th>Status</th>
            <th>Order Action</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Order Type</th>
            <th>Duration</th>
            <th>Order Value</th>
            <th>Order ID #</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>September 21, 2022 11:45:07 AM</td>
            <td>Sunflower</td>
            <td>Pending</td>
            <td>Sell</td>
            <td>60 Tons</td>
            <td>3020</td>
            <td>Limit</td>
            <td>Day Only</td>
            <td>181,200 RON</td>
            <td>362</td>
            <td>X Cancel O modify</td>
          </tr>
          <tr>
            <td>September 21, 2022 11:47:34 AM</td>
            <td>Corn</td>
            <td>Pending</td>
            <td>Sell</td>
            <td>80 Tons</td>
            <td>1530</td>
            <td>Market</td>
            <td>Day Only</td>
            <td>122,400 RON</td>
            <td>363</td>
            <td>X Cancel O modify</td>
          </tr>
          <tr>
            <td>September 21, 2022 11:49:56 AM</td>
            <td>Wheat</td>
            <td>Pending</td>
            <td>Sell</td>
            <td>360 Tons</td>
            <td>1558</td>
            <td>Limit</td>
            <td>G.T.C</td>
            <td>560,880 RON</td>
            <td>364</td>
            <td>X Cancel O modify</td>
          </tr>
          <tr>
            <td>September 21, 2022 11:52:03 AM</td>
            <td>Rapeseed</td>
            <td>Pending</td>
            <td>Buy</td>
            <td>500 Tons</td>
            <td>2980</td>
            <td>Limit</td>
            <td>G.T.C</td>
            <td>356,400 RON</td>
            <td>365</td>
            <td>X Cancel O modify</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>